# vscode files
.vscode
.VSCodeCounter

# python cache files
__pycache__
dist
*.egg-info

# test files
/local_tests
# /exp
/results
imgs/

# tmp files
*.swp
*.swo
*.out

# output files
/outputs

# log files
*.log

# model weights
# *.pkl